/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../fonts/montserrat-v14-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('../fonts/montserrat-v14-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --font-first: "Montserrat", sans-serif;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(7, 4, 5);
  --color-gray: rgb(128, 128, 128);
  --color-blue: rgb(0, 64, 240);
  --color-gold: rgb(255, 215, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-first);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px 0 20px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 20px 0;
  margin-bottom: 20px;
}
.logotype {
  color: var(--color-black);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.input {
  background-color: var(--color-white);
  border: 2px solid var(--color-gray);
  border-radius: 5px;
  height: 40px;
  width: 80%;
  line-height: 32px;
  border-radius: 5px;

}
.search-input {  
  background-image: url(../images/icons/home.svg);
  background-repeat: no-repeat;
  background-position: left 11px center;
  padding: 0 0 0 40px;
}
.button {
  padding: 5px 15px 5px 35px;
  border: 1px solid var(--color-gray);
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 4px;
  color: var(--color-black);
  position: relative;
  background: none;
  cursor: pointer;  
}
.button__svg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.button__primary {
  background-color: var(--color-blue);
  color: var(--color-white);
  margin-right: 5px;
}
.button__svg-user {
  fill: var(--color-white)
}

.buttons {
  order: 2;
  margin-bottom: 10px;
}
.logotype {
  order: 1;
}
.search-input {
  order: 3;
}
.main-site {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #cac9c9 100%);
  padding-bottom: 50px;
  
}
.promo {
  background: #ffe896 url(../images/food-bg.png); 
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 200px;
  padding: 20px 10px 220px 10px;
  border-radius: 5px;
  box-shadow: 4px -4px 12px -7px rgba(0,0,0,0.75);
  margin-bottom: 40px;
}
.promo__title {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 20px;
}
.promo__description {
  font-weight: 600;
  font-size: 17px;
}
.restaurants__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.restaurants__heading-second {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
  
}

.restaurants__input-wrp {
  text-align: center;
  width: 100%;
}
.restaurants__input {
  padding: 0 0 0 35px;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: left 11px center;
}
.search__svg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-gray);
}

.restaurants__heading-rating {
  position: relative;
}
.restaurants__heading-info {
  display: flex;
}
.restaurants__heading-quantity {
  color: var(--color-gold);
  position: relative;
  font-size: 20px;
  padding-left: 15px;
  margin-right: 10px;
}
.restaurants__heading-price {
  color: var(--color-gray);
  font-size: 20px;
  margin-right: 10px;


}
.restaurants__heading-caregory {
  color: var(--color-gray);
  position: relative;
  padding-left: 10px;
  font-size: 20px;
}
.restaurants__heading-caregory::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-gray);
  position: absolute;
  left: 0;
  top: 10px;
}
.restaurants__heading-svg {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-gold);
}

/* cards */
.cards {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards__text {
  padding: 10px 10px 20px 10px;
}
.cards__description-second {
  color: var(--color-gray);
}
.cards__item {
  background-color: var(--color-white);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 7px;
  overflow: hidden;
  flex: 0 0 90%;
}
.cards__image {
  width: 380px;
  height: 250px;
  object-fit: cover;
}
.cards__title-second {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 10px;
}
.cards__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.cards__title {
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
}
.cards__tag {
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 2px;
  padding: 5px 7px;
}

.cards__info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 18px;
  font-weight: 600;
}
.cards__info-second {
  padding: 10px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards__rating {
  color: var(--color-gold);
  position: relative;
  padding-left: 15px;
}
.cards__price {
  color: var(--color-gray);
}
.cards__price-second {
  color: var(--color-gray);
  font-size: 22px;
  color: var(--color-black);
  font-weight: 800;

}
.cards__category {
  color: var(--color-gray);
  position: relative;
  padding-left: 10px;
}
.cards__description {
  padding: 20px 10px 25px 10px;
}
.cards__category::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-gray);
  position: absolute;
  left: 0;
  top: 8px;
}

.cards__svg {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-gold);
}
.cards__button {
  padding: 5px 35px 5px 15px;
  position: relative;
  background-color: var(--color-blue);
  color: var(--color-white);
}
.cards__button-svg {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-white);
  
}

.footer__menu {
  display: flex;
}
.footer__social {
  display: flex;
}
.footer__menu {
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 40px 0;
}

.footer__menu-link {
  color: var(--color-gray);
  font-weight: 600;
  font-size: 20px;
}

.footer__social-svg {
  width: 40px;
  height: 40px;
  fill: var(--color-gray);
}



.footer__social-list+.footer__social-list {
  margin-left: 10px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  display: none;
  justify-content: center;
  align-items: center;
}
.is-open {
  display: flex;
}
.modal__window {
  max-width: 780px;
  width: 95%;
  min-height: 550px;
  background: var(--color-white);
  border-radius: 5px;
  padding: 40px 45px;
}
.modal__item {
  margin-bottom: 40px;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.modal__title {
  font-weight: 800;
  font-size: 36px;
}
.modal__button-close {
  background: none;
  border: none;
}
.modal__svg {
  width: 25px;
  height: 25px;
}
.modal__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray);
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.modal__row-title {
  font-size: 18px;
  font-weight: 600;
}
.modal__row-price {
  margin-left: auto;
  margin-right: 20px;
  font-size: 20px;
}
.modal__row-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.counter-button {
  width: 40px;
  height: 30px;
  background: none;
  align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid var(--color-blue);
    border-radius: 2px;
}
.counter-button__svg {
  width: 15px;
  height: 15px;
  fill: var(--color-blue);
}
.counter {
  padding: 0 10px;
}
.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__price {
  padding: 8px 12px;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 600;
  border-radius: 3px;
  font-size: 18px;
}
.modal__footer-buttons {
  display: flex;
}
.modal__button {
  padding: 5px 15px 5px 15px;
  border: 1px solid var(--color-gray);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 4px;
  color: var(--color-black);
  position: relative;
  background: none;
  cursor: pointer;  
}
.modal__button+.modal__button {
  margin: 10px 0 0 0;
}
.blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/*------------------------- media --------------------------- */
@media (max-width: 424px) {
  
  .footer>.logotype {
    order: 1;
  }
  .footer__social {
    margin-bottom: 20px;
  }
  .modal__footer-buttons {
    flex-direction: column;
  }
  .modal__row {
    flex-wrap: wrap;
  }
  
}


@media (min-width: 425px) {
  .promo {
    background-position: bottom 10px right 10px;    
    text-align: left;
    margin-bottom: 50px;
  } 
  .cards__heading {
    flex-direction: row;
  }
  .footer>.logotype {
    order: 1;
  }
  .footer__social {
    margin-bottom: 20px;
  }
  .modal__button+.modal__button {
    margin: 0 0 0 10px;
  }
  
}
@media (max-width: 499px) {
  .modal__footer {
    flex-direction: column;
  }
  .modal__price {
    margin-bottom: 10px;
  }
}
@media (min-width: 500px) {
  .promo__title {
    font-size: 50px;
  }
  .promo__description {
    font-size: 30px;
  }
  .restaurants__title {
    margin-right: 10px;
  }  
}
@media (max-width: 767px) {
  .cards__item {
    flex: 0 1 370px;
  }
  .promo {
    background-position: bottom 10px center;
    background-image: none;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px 20px;
  }
  .cards__item:not(:nth-child(-n+1)) {
    margin-top: 30px;
  }

}

@media (min-width: 768px) {
  .container {
    width: 760px;
  }
  .promo {
    background-position: bottom 10px right 10px;    
    text-align: left;
    margin-bottom: 50px;
    background-size: 250px;
    padding: 40px 20px 100px 40px;
  }
  .cards__item {
    flex: 0 0 300px;
  }
  .footer>.logotype {
    order: 1;
  }
  .footer__social {
    margin-bottom: 20px;
  }
  .restaurants__heading-second {
    flex-direction: row;
    padding: 0 30px 0 30px;
  }
}

@media (max-width: 1023px) {
  .cards__item:not(:nth-child(-n+2)) {
    margin-top: 30px;
  }
  
  .footer__menu-item+.footer__menu-item {
    margin-top: 10px;
  }  
  .footer__menu {
    margin-bottom: 15px;
  }
  
  .footer {
    text-align: center;
  }
  .buttons {
    margin-bottom: 10px;
  }
  .restaurants__title {
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .cards__item:not(:nth-child(-n+3)) {
    margin-top: 30px;
  }
  .container {
    width: 1000px;
  }
  .header {
    flex-direction: row;
  }
  .buttons {
    order: 3;
    margin-bottom: 0;

  }
  .logotype {
    order: 1;
  }
  .search-input {
    order: 2;
  }
  .input {
    width: 50%;
  }
  .logotype {
    margin-bottom: 0;
  }
  .cards {
    justify-content: space-between;
  }
  .promo {
    background-position: bottom 10px right 10px;    
    text-align: left;
    margin-bottom: 50px;
    background-size: 350px;
  }
  .promo__title {
    font-size: 55px;
  }
  .promo__description {
    font-size: 37px;
  }
  .restaurants__input-wrp {
    text-align: right;
  }
  .restaurants__heading {
    margin: 15px;
    flex-direction: row;
  }
  .cards__description {
    padding: 20px 20px 25px 20px;
  }
  .footer {
    text-align: center;
    flex-direction: row;
  }
  .footer__menu-item+.footer__menu-item {
    margin-top: 0px;
    margin-left: 20px;
  }
  .footer__menu {
    margin-bottom: 0;
    flex-direction: row;

  }
  .footer>.logotype {
    order: unset;
    margin: 0;
  }
  .footer__social {
    margin-bottom: 0;
  }
  
}

@media (min-width: 1366px) {
  .container {
    width: 1200px;
  }  
  .cards__item {
    flex: 0 0 350px;
  }
  
}
